$light_blue: #d9fff5;
$light_gray: #eaeaea;
$white-smoke: #f8f8f8;
$white: #ffffff;
$gray: #7e7e82;
$pagination-gray: #b5b6bc;
$turquoise: #41f6d7;
$light-pink: #ffe0e9;
$pink: #ff3e79;
$item-active: #b8ffec;
$black: #1b1c21;
