.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid $light_blue;
  padding-left: 16px;
  min-height: 88px;
  position: sticky;
  top: 0;
  background-color: $white;
  z-index: 3;
  transition: top 0.3s ease-in-out;

  .menu-burger {
    margin-top: 1px;
  }

  &__logo {
    margin-top: 6px;
  }

  &__button {
    margin-right: 16px;
    border: none;
    background-color: inherit;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    vertical-align: top;
  }

  &__list {
    display: flex;
    margin-left: auto;
    align-items: center;
  }

  &__list li:nth-last-child(2)::before {
    content: '';
    display: inline-block;
    margin-right: 11px;
    background-color: $light_gray;
    height: 32px;
    width: 2px;
    border-radius: 1px;
    vertical-align: bottom;
    margin-bottom: 4px;
  }

  &__list > li:nth-child(-n + 3) {
    display: none;
  }
}

@media (min-width: 768px) {
  .header {
    &__list > li:nth-child(-n + 3) {
      display: block;
    }

    &__burger::after {
      content: '';
      display: inline-block;
      margin-right: 16px;
      margin-top: 4px;
      background-color: $light_gray;
      height: 32px;
      width: 2px;
      border-radius: 1px;
    }
  }
}

@media (min-width: 1366px) {
  .header {
    display: none;
  }
}
