.services {
  display: flex;
  flex-direction: column;
  background-color: $white-smoke;
  padding-bottom: 20px;

  &__title {
    display: flex;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 32px;

    &::before {
      content: '';
      display: inline-block;
      height: 40px;
      width: 4px;
      background-color: $turquoise;
      margin-right: 12px;
      border-radius: 0 20px 20px 0px;
    }

    h1 {
      font-size: 28px;
      line-height: 40px;
      letter-spacing: -0.6px;
      margin: 0;
    }
  }

  &__actions {
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  &__button {
    margin-right: 32px;
    display: none;
    border: none;
    background-color: inherit;
    white-space: nowrap;

    &:hover {
      .services__btn-text {
        color: $pink;
        transition: color 0.5s;
        cursor: pointer;
      }
      .btn-shape {
        background-color: $light-pink;
        path {
          fill: $pink;
        }
      }
    }
  }

  &__list {
    display: flex;
    white-space: nowrap;
    overflow: auto;
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */
    margin-bottom: 24px;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }

  &__item {
    display: inline-block;
    margin-left: 15px;
    padding: 8px 9px;
    height: 40px;
    margin-bottom: 10px;
    color: $gray;
    transition: color 0.5s;
    &:hover:not(.services__item--active) {
      border-bottom: 2px solid $light-pink;
      color: $pink;
    }

    &--active {
      border: 2px solid $item-active;
      border-radius: 6px;
      background: $white;
    }
  }

  &__link {
    text-decoration: none;
    color: $gray;
    line-height: 24px;
    letter-spacing: -0.2px;
  }

  &__about {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about__post {
    margin: 0 16px;
  }

  .about__text {
    font-size: 14px;
    line-height: 20px;
    height: 95px;
    overflow: hidden;
    margin-bottom: 16px;

    p {
      margin-bottom: 16px;
    }
  }

  .about__text--read-more {
    height: 260px;
  }

  .about__read-more-btn {
    position: relative;
    background-color: inherit;
    border: none;
    font-family: 'TT Lakes';
    padding-left: 25px;
    margin-left: 8px;
    margin-bottom: 16px;
    cursor: pointer;

    &:hover {
      color: $turquoise;
      transition: color 0.5s;
    }

    &::before {
      content: '';
      position: absolute;
      width: 24px;
      height: 24px;
      left: 0;
      top: 3px;
      background: url(../img/icon/arrow.svg) no-repeat;
    }
  }

  .about__read-more-btn.about__read-more-btn--open::before {
    transform: rotate(180deg);
    top: -10px;
    left: -17px;
  }

  .about__image {
    max-width: 320px;
    height: auto;
    border-radius: 10px;
  }
}

@media (min-width: 768px) {
  .services {
    padding-bottom: 30px;
    &__title::before {
      margin-right: 24px;
    }

    &__list {
      margin-left: 15px;
    }

    .about {
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      margin-left: 15px;

      &__text {
        line-height: 20px;
        height: 135px;
        margin-right: 48px;
        overflow: hidden;
      }

      &__text--read-more {
        height: 250px;
      }

      &__image {
        max-width: 360px;
        height: auto;
        margin-right: 24px;
      }
    }
  }
}

@media (min-width: 1366px) {
  .main-wrapper {
    margin-left: 320px;
  }

  .services {
    padding-bottom: 40px;
    &__title {
      margin-top: 42px;
    }

    &__btn-shape {
      svg {
        transform: translateY(50%);
      }
    }

    &__button {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    &__list {
      flex-wrap: wrap;
      overflow: none;
    }

    .about__image {
      max-width: 532px;
      height: auto;
      margin-right: 28px;
    }

    .about__text {
      height: auto;
      margin-right: 36px;
    }
  }
}
